<%= stylesheet_link_tag "master" %>

<p id="notice"><%= notice %></p>

<p class="header1">Flows</p>


    <% @categories.each do |category| %>
      <%= link_to category.name, root_path %> <br>
    <% end %>
    <br><br>
       <%= render "index", cat_id: 1 %>
<br><br><br>

<%= link_to 'New Flow', new_flow_path %>
