<p id="notice"><%= notice %></p>

<h1>Flows</h1>


    <% @flows.each do |flow| %>
      
       <%= image_tag flow.thumbnail_img if !flow.thumbnail_img.nil? %><br>
        <%= flow.name %><br>
        <%= image_tag flow.company.logo %>
        <%= flow.company.name %><br><br>
        
        <%= link_to 'Show', flow %>
        <%= link_to 'Edit', edit_flow_path(flow) %>
        <%= link_to 'Destroy', flow, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br><br><br>
    <% end %>
<br><br><br>

<%= link_to 'New Flow', new_flow_path %>
