
<div class = "main-container">

	<div class="header">
		<div class="flows-logo">
			<%=link_to root_path do%>
			<span class="header-icon"><%= inline_svg 'wave.svg', class: 'wave-icon' %></span>
			<span class = "header-name">User Flows</span>
			<%end%>
		</div>

		<div class="nav-link push">
			<%= link_to "https://twitter.com/smackmypixelsup", target: :_blank do %>
			 <span class="inline-block text-light">Made with</span> 
			 <%= inline_svg 'heart-grey.svg', class: 'heart-grey' %>
			 <%= inline_svg 'heart-red.svg', class: 'heart-red' %>
			 <span class = "inline-block-two text-light">by Siddharth</span>
			 <%end%>
		</div>

	
	</div>
	
	<div class="content-container">
		<div class="empty"> </div>

		<div class="intro-message"><span class="intro-head grey-dark">Real life flows by industry leaders in design.</span>
			<span class="intro-subhead grey-light">Curated for your inspiration.</span>
		</div>

		<div class="menu" id="active-menu">
			<div class = "category-header grey-extra-light">CATEGORIES</div>
			<div class="category"><%= active_link_to 'All', root_path, active: :exact, :remote => true %></div>

	    <% @categories.each do |cat| %>
	      <div class="category-links"><%= active_link_to cat.name, root_path(:category_id => cat.id), :remote => true, active: :exact %>	
	      </div>
	    <% end %>
	  </div>

		<div class="cards-container">
				<div class="cards-wrapper">
	    	<%= render 'index', locals: {flows: @flows} %>
	  		</div>


	  </div>

	</div>

<%#= link_to 'New Flow', new_flow_path %>
</div>
