


<% img_array = @flow.images.split %>
<% overlay_array = @flow.image_overlay.split('#') %>
<% navigation_array = @flow.nav_elements.split('#') %>


<div class="main-container">

	<div class="close-flow">
		<div class="empty-flex"></div>

		<span class="intro-head flex-two"><%=@flow.name %></span>

		<div class="close-push-right"><%= link_to "back", request.referer.present? ? request.referer : default_path do %>
		<%= inline_svg 'close.svg', class: 'close-icon' %>
		<% end %>
	</div>

	</div>


	<div class="flow-grid">

		<div class = "flow-navigation">
			<div class = "category-header grey-extra-light">JUMP TO</div>

		 <% navigation_array.each do |nav_element| %>
			 <% @go_to_id += 1 %>
			 <div class="flow-links"> <%= link_to nav_element, :anchor => "#{@go_to_id}" %></div>
		 <% end %>

		</div>
			
		<div class="flow-images-container">

			<% img_array.zip(overlay_array).each do |image, overlay| %>
				<% @js_id += 1 %>
				<div id="<%= @js_id %>" class="flow-image-with-text">
					<%= image_tag image, :class => "flow-img" %>
					<div class="image-overlay"><%= overlay %></div>
				</div>
			<% end %>

		</div>

	</div>
</div>
<%#= link_to 'Edit', edit_flow_path(@flow.id) %> |
<%#= link_to 'Back', root_path %>
